* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141519;
    font-family: 'Overpass', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 30px;
    background: linear-gradient(#212731, #181e25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #262f38;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: #fff;
    font-weight: 400;
    font-size: 26px;
}

p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

.score{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.score button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #262f38;
    color: hsl(217, 12%, 63%);
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers:hover{
    background-color: hsl(217, 12%, 63%);
    color: white;
    cursor: pointer;
}


#submit {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 14px;
}

#submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.active {
    background-color:  hsl(25, 97%, 53%);
    color: white;
}

.attribution { 
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
